main
server_app
*.xlsx
*.dump
docs/swagger.yaml
docs/docs.go
docs/swagger.json
.vscode
*.docker
*.exe
*.key.pub
*.key
cmd/front_end/fe_app
cmd/front_end/main
cmd/migrations/migrations_app
cmd/migrations/main